*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; 
}

html {
    /* define what 1 rem is */
    font-size: 62.5%;
}

body {
	box-sizing: border-box; 
	font-family: 'Roboto', 'Open Sans', 'Poppins', sans-serif;
	font-size: 2rem;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 4.8rem;
	margin-bottom: 1rem;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	margin-bottom: 1.6rem;
}

.container {
	width: 80vw;
	margin:  auto;
}

.rupiah::before {
	content:'Rp ';
}

.total-price {
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	font-size: 4rem;
	color: teal;
}

.card {
	box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 30rem;
  	margin-right: 4rem;
  	border-radius: 1rem;
  	overflow: hidden;
}

.card:hover {
  	box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
  	cursor: pointer;
}

.card-size {
	box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 15rem;
  	margin-right: 4rem;
  	border-radius: 1rem;
}

.card-size:hover {
  	box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
  	cursor: pointer;
}

.container-card {
  	padding: 2rem 2rem;
}

.container-card-size {
  	/* padding: 2rem 2rem; */
  	text-align: center;
  	padding: 2rem 0 2rem 0;

  }

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-input-element {
	display: none;
}

.card-input-element:checked + .card {
     box-shadow: 0 0 0.3rem 0.3rem orangered;
 }

.card-input-element-size {
	display: none;
}

.card-input-element-size:checked + .card-size {
     box-shadow: 0 0 0.3rem 0.3rem orangered;
 }

.h4-size {
	font-weight: 300;
	font-size: 2.4rem;
	color: teal;
}

.size-price {
	font-size: 1.6rem;
	color: gray;
}

section {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.subtitle {
	font-size: 1.8rem;
	font-family: 'Open Sans', sans-serif;
}

.option-form {
	display: flex;
}

.size-form {
	display: flex;
}

.toppings-form {
	display: flex
}

.col-1000,
.col-3000,
.col-5000 {
  /* display: flex; */
  /* flex-direction: column; */
}

ul li {
	list-style: none;
	margin-bottom: 1.2rem;
	margin-right: 3rem;
}

.check-item-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.9rem;
	margin-left: 2rem;
}

 /* Customize the label (the container) */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 1rem;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: orangered;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark::after {
  left: 1rem;
  top: 0.7rem;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0rem 0.3rem 0.3rem 0rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

input[type=checkbox][disabled]{
  outline:.1rem solid red;
}

.container-checkbox input[type=checkbox][disabled] ~ .checkmark {
	background: #bbb;
}

.container-checkbox:hover input[type=checkbox][disabled] ~ .checkmark {
	background-color: #bbb;
}

.container-checkbox input[type=checkbox][disabled] ~ .check-item-name {
	color: #bbb;
}